.body{
  background-image: url(https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slideshow {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 5%;
  }
  .image{
    width: 100%;
    height: 80%;

  }
  .link{
    color: black;
    font-size: xx-large;
  }
  .text{
    font-size: xx-large;
    color: rgb(206, 146, 146);
    text-align: center;
  }
  .title{
    font-size: xx-large;
    color: blue;
    text-align: center;
  }
  .button{
     text-align: center;
    padding: 10px;
    font-size: x-large;
    background-color: blue;
    border-radius: 5%; 
    width: 30%;
    border-radius: 8%;
    

  }
  .box1 {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  .box2 {
    text-align: center;
    padding: 10px 10px;
  }
  .front{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    /* background-color: ; */
  }
  .navbar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: aliceblue;
    background-color: blue;
    border: solid 2px ;
    padding: 24px;
  }
  .textbutton{
    color: aliceblue;
    text-decoration: none;
  }
  .b1{
    background-color: black;
    padding: 30px;

  }
  .b2{
    border: solid 1px ;
    padding: 24px;
  }
  .foot{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
    padding: 110px;
    color: antiquewhite;
    font-size: 150%;
  }
  img{
    border-radius: 50%;
  }

  
  
 