.form{
   font-size: x-large; 
   border: 2px solid;
   padding: 70px;
   width: 50%;
   align-content: center;
   background-color: transparent;
   margin-left: 20%;
   
   

}
 .body{
    background-image: url(https://media.istockphoto.com/id/1218652688/photo/orange-wonderful-shiny-glitter-lights-defocused-bokeh-abstract-background-with-falling-snow.jpg?s=612x612&w=0&k=20&c=6oI_daqRK1yJjM_2JedLujOLfhg2B4nRVeJ6rx1wqas=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 
.input{
    padding: 24px;
    width: 50%;
}
.button{
    padding: 14px;
    width: 30%;
    background-color: blue;
    color: white;
    font-size: larger;
    border-radius: 25%;
    margin-left: 30%;
}
.link{
    color: black;
    text-decoration: none;
}
.body{
    background-color: powderblue;
    padding: 24px;
}
.vid{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}
@media (min-aspect-ratio:16/9){
    .vid{
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width:250px) and (max-width:440px){
    .button{
        padding: 14px;
        width: 50%;
        background-color: blue;
        color: white;
        font-size: larger;
        border-radius: 25%;
        margin-left: 20%;
    } 
    .body{
        background-color: powderblue;
        padding: 10px;
    } 
    .form{
        font-size: x-large; 
        border: 2px solid;
        padding: 50px;
        width: 50%;
        align-content: center;
        background-color: transparent;
        margin-left: 20%;
    }
}
@media screen and (min-width:400px) and (max-width:990px){
    .button{
        padding: 14px;
        width: 50%;
        background-color: blue;
        color: white;
        font-size: larger;
        border-radius: 25%;
        margin-left: 20%;
    } 
    .body{
        background-color: powderblue;
        padding: 10px;
    } 
    .form{
        font-size: x-large; 
        border: 2px solid;
        padding: 50px;
        width: 50%;
        align-content: center;
        background-color: transparent;
        margin-left: 20%;
    }
}